 .navi {
 	font-family: "Arial";
 	font-size: 11pt;
  font-weight: bold;
  position: absolute;
 	right: 0px;
 	top: 18px;

  

 }

 .navi ul {
  float: right;
 	
 }

 .navi li {
 	display: inline;
	list-style-type: none;
	margin-right: 20px;
  color: #76323F;
	

 }

 /* LINK */

 .navi a {
  color: #76323F;

 }

.navi a:link {
  text-decoration: none;
  color: #76323F;
  

 }